* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  background-color: #222;
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 0vw;
}

div.hamburger {
  display: none;
}

nav a {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  color: #7234d8;
}

a.logo img {
  width: 2.5rem;
}

ul.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul.nav-links li {
  padding: 0 1vw;
}

ul.nav-links a:hover {
  color: #7334d8d2;
}

a.lang {
  padding: 1rem;
  border: 1px solid #7234d8;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  ul.nav-links {
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    clip-path: circle(0px at 0% 0%);
    -webkit-clip-path: circle(0px at 0% 0%);
    transition: all 1s ease-in-out;
  }
  ul.nav-links.active {
    clip-path: circle(1000px at 75% 75%);
    -webkit-clip-path: circle(1000px at 75% 75%);
  }
  div.hamburger {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
  }
  div.hamburger > span {
    background-color: #7234d8;
    width: 100%;
    height: 4px;
    border-radius: 4px;
  }
}
