* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: #fff;
  background-color: #222;
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}

.py {
  padding: 10vh 0vw;
}

.border-rounded {
  border: 2.5px solid #4c65e6;
  border-radius: 10px;
}

.display-4 {
  font-size: 2.5rem;
}

nav {
  background-color: #0d1019b2;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 0vw;
  z-index: 99;
}

nav > div.hamburger {
  display: none;
  cursor: pointer;
  z-index: 100;
}

nav > a.logo > img {
  width: 2.5rem;
}

nav > ul.navbar-links {
  list-style: none;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

nav > ul.navbar-links > li {
  padding: 0vh 1vw;
}

nav > ul.navbar-links > li > a {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  color: #4c65e6;
}

nav > ul.navbar-links > li > a:hover {
  color: #6c83f7;
}

nav > a.lang {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  color: #4c65e6;
  padding: 1rem;
  border: 1px solid #4c65e6;
  border-radius: 4px;
}

/*  */

.home {
  background: url("images/bg-01.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

/*  */

.solutions {
  background: url("images/bg-02.png") no-repeat center;
  background-size: cover;
}

.solutions h1 {
  color: #4c65e6;
  font-size: 2.5rem;
  font-weight: 700;
}

.solutions h3 {
  color: #4c65e6;
  font-weight: 700;
}

/*  */

.approach {
  background: url("images/bg-02.png") no-repeat center;
  background-size: cover;
}

/*  */

.performances {
  background: url("images/bg-02.png") no-repeat center;
  background-size: cover;
}

/*  */

.contact {
  background: url("images/bg-02.png") no-repeat center;
  background-size: cover;
}

/*  */

#one {
  opacity: 0;
}

#two {
  opacity: 0;
}

#three {
  opacity: 0;
}

/*  */

@media screen and (max-width: 768px) {
  /*  */
  nav {
    background-color: #0d1019b2;
  }
  nav > ul.navbar-links {
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    clip-path: circle(0px at 0% 0%);
    -webkit-clip-path: circle(0px at 0% 0%);
    transition: all 1s ease;
  }
  nav > ul.navbar-links.active {
    clip-path: circle(1000px at 75% 75%);
    -webkit-clip-path: circle(1000px at 75% 75%);
  }
  nav > div.hamburger {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    justify-content: space-around;
    align-items: center;
  }
  nav > div.hamburger > span {
    background-color: #4c65e6;
    width: 100%;
    height: 4px;
    border-radius: 4px;
  }
  /*  */
}

/*  */
